@charset "UTF-8";
/*Polices*/
@font-face {
  font-family: Fraunces;
  src: url("Fraunces_9pt_Soft/Fraunces_9pt_Soft-Regular.ttf");
}
@font-face {
  font-family: Barlow;
  src: url("Barlow/Barlow-Regular.ttf");
}
body {
  text-align: center;
  margin: 0 auto;
}
body main {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Barlow, sans-serif;
  /*Première partie*/
  /*photos+text*/
  /*backgroundfruit+texte*/
  /*commentaires clients*/
  /*4 images (et un mot)*/
  /*navigation bas de site*/
}
body main img {
  width: 100%;
}
body main .header {
  overflow: hidden;
  background-image: url("assets/photos/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .header__top {
  padding: 3vh;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .header__top--menu {
  width: 30px;
  height: 20px;
}
body main .header__top--deroulant {
  display: none;
}
body main .header h1 {
  margin: 40px auto;
  text-align: center;
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-family: Faunces;
  font-weight: 900;
  letter-spacing: 0.2em;
}
body main .header__arrow {
  margin: auto;
  height: 20%;
  width: auto;
}
@media screen and (max-width: 1024px) {
  body main .header h1 {
    font-size: 5vh;
  }
  body main .header .header__top--sunnyside {
    width: 100px;
    height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  body main .header h1 {
    font-size: 10vh;
  }
  body main .header .header__top--menu {
    display: none;
  }
  body main .header .header__top--sunnyside {
    height: 8vh;
    width: 20vh;
    margin-left: 10px;
  }
  body main .header ul {
    width: 50vw;
    height: 6vh;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  body main .header ul li {
    width: 20%;
    border-radius: 28px;
    margin-right: 2vw;
    mix-blend-mode: normal;
    padding: 0.8vw;
  }
  body main .header ul li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
  }
  body main .header ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 28px;
  }
  body main .header ul .contact {
    background-color: white;
    border-radius: 28px;
    font-family: Fraunces, sans-serif;
  }
  body main .header ul .contact a {
    color: black;
  }
  body main .header ul .contact a:hover {
    color: white;
  }
}
body main .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  body main .container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  body main .container div {
    display: flex;
  }
  body main .container--oeuf {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1224px) {
  body main .container img {
    height: 60vh;
  }
}
body main .container__img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body main .container__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
}
body main .container__text h2 {
  margin: auto;
  width: 90%;
  font-family: Fraunces, sans-serif;
  font-weight: bolder;
  font-size: 5vh;
}
body main .container__text p {
  width: 90%;
  height: auto;
  margin: auto;
  opacity: 0.6;
  line-height: 1.5em;
  font-family: Barlow;
  font-weight: 600;
  font-size: 3vh;
}
body main .container__text a {
  margin-bottom: 20px;
  color: black;
  text-transform: uppercase;
  font-family: Fraunces;
  font-weight: 900;
  text-decoration: none;
  font-size: 3vh;
}
body main .container__text .container__text--jaune:after {
  display: block;
  content: "";
  width: 130px;
  height: 1.5vh;
  background: #FAD400;
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 1.75rem;
  margin: auto;
}
body main .container__text .container__text--jaune:hover:after {
  opacity: 0.8;
}
body main .container__text .container__text--rouge:after {
  display: block;
  content: "";
  width: 130px;
  height: 1.5vh;
  background: rgb(254, 119, 102);
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 1.75rem;
  margin: auto;
}
body main .container__text .container__text--rouge:hover:after {
  opacity: 0.8;
}
@media screen and (min-width: 1024px) {
  body main .container__text .container__text--jaune:after {
    display: block;
    content: "";
    width: 12vw;
    height: 1.5vh;
    background: #FAD400;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 1.75rem;
    margin: auto;
  }
  body main .container__text .container__text--jaune:hover:after {
    opacity: 0.8;
  }
  body main .container__text .container__text--rouge:after {
    display: block;
    content: "";
    width: 12vw;
    height: 1.5vh;
    background: rgb(254, 119, 102);
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 1.75rem;
    margin: auto;
  }
  body main .container__text .container__text--rouge:hover:after {
    opacity: 0.8;
  }
}
body main .containerfruit {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: rgb(36, 85, 74);
  font-family: Barlow;
  font-weight: 600;
  font-size: 3vh;
  line-height: 2em;
}
@media screen and (min-width: 1024px) {
  body main .containerfruit {
    display: flex;
    flex-direction: row;
  }
  body main .containerfruit div {
    width: 50%;
  }
}
body main .containerfruit h2 {
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  font-size: 5vh;
}
body main .containerfruit--cerise {
  padding: 5%;
  height: 80vh;
  background-image: url("assets/photos/image-graphic-design.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
body main .containerfruit--cerise h2 {
  grid-area: 2/1/3/2;
}
body main .containerfruit--cerise p {
  grid-area: 3/1/4/2;
}
body main .containerfruit--orange {
  padding: 5%;
  height: 80vh;
  background-image: url("assets/photos/image-photography.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
body main .containerfruit--orange h2 {
  grid-area: 2/1/3/2;
}
body main .containerfruit--orange p {
  grid-area: 3/1/4/2;
}
body main .testimonials {
  padding: 5%;
  margin: 3%;
}
@media screen and (min-width: 1024px) {
  body main .testimonials .center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  body main .testimonials .emily {
    grid-area: 1/1/2/2;
  }
  body main .testimonials .thomas {
    grid-area: 1/2/2/3;
  }
  body main .testimonials .jennie {
    grid-area: 1/3/2/4;
  }
}
body main .testimonials h2 {
  opacity: 0.6;
  font-family: Fraunces, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5vh;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body main .testimonials h2 {
    font-size: xx-large;
  }
}
body main .testimonials__clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  padding: auto;
}
@media screen and (min-width: 1024px) {
  body main .testimonials__clients {
    width: 25vw;
  }
}
body main .testimonials__clients p {
  font-family: Barlow;
  font-weight: 600;
  line-height: 1.6em;
  margin: auto;
  font-size: 3vh;
  text-align: center;
  height: 100%;
}
body main .testimonials__clients img {
  margin-bottom: 3vh;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  margin-top: 10px;
}
body main .testimonials__clients h3 {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 3vh;
  margin: 0;
}
body main .testimonials__clients .fonction {
  color: #A7AAAD;
  margin-top: 0;
  font-size: 2vh;
}
body main .containerimages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  body main .containerimages {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
body main .containerimages--block {
  margin: 0;
  padding: 0;
  width: 50%;
}
body main .containerimages--block img {
  height: 100%;
}
body main .footer {
  height: 60vh;
  margin: 0;
  background-color: rgb(144, 212, 198);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main .footer__titre {
  align-self: center;
  width: 30%;
  color: rgb(44, 117, 102);
}
body main .footer ul {
  list-style-type: none;
  display: flex;
}
body main .footer__menu {
  padding: 0;
  justify-content: space-around;
}
body main .footer__menu li {
  color: rgb(69, 141, 126);
  font-weight: 600;
  font-size: 3vh;
  text-decoration: none;
}
body main .footer__menu a {
  text-decoration: none;
  color: rgb(69, 141, 126);
}
body main .footer__menu a:hover {
  color: white;
}
body main .footer__logo {
  justify-content: center;
}
body main .footer__logo li {
  padding-right: 5vh;
}
body main .footer__logo li:hover {
  filter: brightness(0) invert(1);
}
body main .footer__logo li img {
  width: 5vh;
  height: 5vh;
}
body main .footer__logo li .insta {
  width: 7vh;
  height: 7vh;
}/*# sourceMappingURL=style.css.map */