/*Polices*/  
@font-face {
    font-family: Fraunces;
    src: url("Fraunces_9pt_Soft/Fraunces_9pt_Soft-Regular.ttf");
  }
@font-face{
    font-family:Barlow;
    src: url("Barlow/Barlow-Regular.ttf")
}

body{
    text-align: center;
    margin: 0 auto;
    main{
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-family: Barlow, sans-serif;
        img{
            width: 100%;
        }
        /*Première partie*/
        .header{
            overflow: hidden;
            background-image: url("assets/photos/image-header.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            &__top{
                padding: 3vh;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &--menu{
                    width: 30px;
                    height: 20px;
                }
                &--deroulant{
                    display: none;
                }
            }
            h1{
                margin: 40px auto;
                text-align: center;
                padding: 0;
                color: white;
                text-transform: uppercase;
                font-family: Faunces;
                font-weight: 900;
                letter-spacing: 0.2em;                   
                }
            &__arrow{
                margin: auto;
                height: 20%;
                width: auto;
            }
            @media screen and (max-width:1024px){
                h1{
                    font-size: 5vh;
                }
                .header__top--sunnyside{
                    width: 100px;
                    height: 40px;
                }
            }
            @media screen and (min-width :1024px){
                h1{
            
                    font-size: 10vh;
            
                }
                .header__top--menu{
                    display: none;
                }
            
                .header__top--sunnyside{
                    height: 8vh;
                    width: 20vh;
                    margin-left: 10px;
                }
                ul{
                    width: 50vw;
                    height: 6vh;
                    display: flex;
                    align-items: center;
                    list-style-type:none;
                    li{
                        width: 20%;
                        border-radius: 28px;
                        margin-right: 2vw;
                        mix-blend-mode: normal;
                        padding: 0.8vw;
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 3vh;
                        }
                        &:hover{
                            background-color:  rgba(255, 255, 255, 0.25);
                            border-radius:28px;
                        }
                    }              
                    .contact {
                        background-color: white;
                        border-radius: 28px;
                        font-family: Fraunces,sans-serif;
                        & a{
                            color: black;
                            &:hover{
                                color: white;
                            }
                        }

                    }
                }
            } 
        }
        /*photos+text*/
        .container{
            @media screen and (min-width:1024px){
                display:flex;
                flex-direction: row;
                text-align: center;
                div{
                    display: flex;
                }
                &--oeuf{
                    display: flex;
                    flex-direction: row-reverse;
                }

            }
            //cas où le ratio width/height déforme l'image
            @media screen and (min-width:1024px) and (max-width:1224px){
                img{
                    height: 60vh;
                }
            }

            display: flex;
            flex-direction: column;
            width: 100%;
            &__img{
                width: 100%; 
                height: 100%;               
                margin: 0;
                padding: 0;     
            }
        
            &__text{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 100%;
                height: 60vh;        
               h2{
                    margin: auto;
                    width: 90%;
                    font-family: Fraunces ,sans-serif;
                    font-weight: bolder;
                    font-size: 5vh;
                }

                p{
                    width: 90%;
                    height: auto;
                    margin: auto;
                    opacity: 0.6;
                    line-height: 1.5em;
                    font-family: Barlow;
                    font-weight: 600;
                    font-size: 3vh;
                }

                a{
                    margin-bottom: 20px;
                    color: black;
                    text-transform: uppercase;
                    font-family: Fraunces;
                    font-weight: 900;
                    text-decoration: none;
                    font-size: 3vh; 
                }
                .container__text--jaune:after {                  
                    display: block;
                    content: "";
                    width:130px;
                    height:1.5vh;
                    background: #FAD400;
                    mix-blend-mode: normal;
                    opacity: 0.3;
                    border-radius: 1.75rem;
                    margin: auto;
                    }
                    .container__text--jaune:hover:after{
                       opacity: 0.8;
                    }
                
                .container__text--rouge:after{
                    display: block;
                    content: "";
                    width:130px;
                    height:1.5vh;
                    background:rgba(254, 119, 102, 1);
                    mix-blend-mode: normal;
                    opacity: 0.3;
                    border-radius: 1.75rem;
                    margin: auto;
                }
                .container__text--rouge:hover:after{
                    opacity: 0.8;
                }
                @media  screen and (min-width: 1024px){               
                .container__text--jaune:after {                  
                    display: block;
                    content: "";
                    width:12vw;
                    height:1.5vh;
                    background: #FAD400;
                    mix-blend-mode: normal;
                    opacity: 0.3;
                    border-radius: 1.75rem;
                    margin: auto;
                    }
                    .container__text--jaune:hover:after{
                       opacity: 0.8;
                    }
                
                .container__text--rouge:after{
                    display: block;
                    content: "";
                    width:12vw;
                    height:1.5vh;
                    background:rgba(254, 119, 102, 1);
                    mix-blend-mode: normal;
                    opacity: 0.3;
                    border-radius: 1.75rem;
                    margin: auto;
                }
                .container__text--rouge:hover:after{
                    opacity: 0.8;
                }
            }                  
            }
        }
        /*backgroundfruit+texte*/
        .containerfruit{
            @media screen and (min-width:1024px){
                display:flex;
                flex-direction:row;
                div{
                    width:50%;
                }
            }
            margin: 0;
            display: flex;
            flex-direction: column;
            color:rgba(36, 85, 74, 1);
            font-family: Barlow;
            font-weight: 600;
            font-size: 3vh;
            line-height: 2em;
            h2{
                font-family: Fraunces,sans-serif;
                font-weight: 900;
                font-size: 5vh;
            }
            &--cerise{
                padding: 5%;
                height: 80vh;
                background-image: url("assets/photos/image-graphic-design.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                h2{grid-area: 2 / 1 / 3 / 2; }
                p{grid-area: 3 / 1 / 4 / 2; }
            }
            &--orange{
                padding: 5%;
                height: 80vh;
                background-image: url("assets/photos/image-photography.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                h2{grid-area: 2 / 1 / 3 / 2; }
                p{grid-area: 3 / 1 / 4 / 2; }
            }
        }
        /*commentaires clients*/
        .testimonials{
            @media screen and (min-width:1024px){               
                    .center {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: 1fr;
                        }
                        
                        .emily { 
                            grid-area: 1 / 1 / 2 / 2; 
                        }
                        .thomas { 
                            grid-area: 1 / 2 / 2 / 3;

                         }

                        .jennie { 
                            grid-area: 1 / 3 / 2 / 4; 
                        }
                }
            
            padding: 5%;
            margin: 3%;
            h2{
                opacity: 0.6;
                font-family: Fraunces , sans-serif;
                text-transform: uppercase; 
                font-weight: 900;
                font-size: 5vh;
                text-align: center;
                @media screen and (min-width: 1024px){
                    font-size: xx-large;;
                }
            }
            &__clients{
                display: flex;
                flex-direction: column;
                align-items: center;
                @media screen and (min-width: 1024px){
                    width: 25vw;
                }
                height:  60vh;
                padding: auto;

                p{
                    font-family: Barlow;
                    font-weight: 600;
                    line-height: 1.6em;
                    margin: auto;
                    font-size: 3vh;
                    text-align: center;
                    height: 100%;
                }

                img{
                    margin-bottom: 3vh;
                    border-radius: 50%;
                    height: 10vh;
                    width: 10vh;
                    margin-top: 10px;
                }

                h3{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-size: 3vh;
                    margin:0;
                }

                .fonction{
                color: #A7AAAD;
                margin-top: 0;
                font-size: 2vh;
                }
            }
        }
        /*4 images (et un mot)*/
        .containerimages{
            @media screen and (min-width:1024px){
                flex-direction: row;
                flex-wrap: nowrap;
            }
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            &--block{
                margin:0;
                padding: 0;
                width: 50%;
                img{
                    height: 100%;
                }
            }
        }
        /*navigation bas de site*/
        .footer{
            height: 60vh;
            margin: 0;
            background-color: rgba(144, 212, 198, 1);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &__titre{
                align-self: center;
                width: 30%;
                color: rgba(44, 117, 102, 1);
            }
            ul{
                list-style-type: none;
                display: flex;
            }
            &__menu{
                padding: 0;
                justify-content: space-around;
                li{
                    color:rgba(69, 141, 126, 1);
                    font-weight: 600;
                    font-size: 3vh;
                    text-decoration: none;
                }

                a{
                    text-decoration: none;
                    color:rgba(69, 141, 126, 1); ;
                }

                a:hover{
                    color: white;
                }

            }
            &__logo{
                justify-content: center;
                li{
                    padding-right: 5vh;
                    &:hover{
                        filter: brightness(0) invert(1);
                    }
                }
                li img{
                    width: 5vh;
                    height: 5vh;
                }
                li .insta{
                    width: 7vh;
                    height: 7vh;
                }
            }
        }
    }
}